:root {
  --clr-silver: #ededed; /*1°*/
  --clr-chalk: #fefbf6; /*1°*/
  --clr-folder: #eadfb4; /*1°*/
  --clr-darkgray: #444444; /*2°*/
  --clr-black: #171717; /*2°alt, fonts*/
  --clr-deepred: #da0037; /*3°accent, fonts*/
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
* {
  font-family: "Avenir", sans-serif;
}
body {
  max-width: 100vw;
  box-sizing: border-box;
  font-size: calc(9px+1vw);
}
html {
  font-size: calc(9px+1vw); //12px(HVGA) to 20px(fHD)
}
.text {
  display: inline-block;
}
.folder {
  background-color: var(--clr-folder);
  border: 1px var(--clr-darkgray) solid;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 2em;
  font-weight: bold;
}
.active {
  color: var(--clr-deepred);
}

/*
#monitor-screen {
  height: 100%;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  background-size: 100% 4px, 30px 100%;
  z-index: 1;
  animation: flicker 200ms infinite;
}
#monitor-screen:after {
  position: absolute;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 70%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 2;
}


@keyframes flicker {
  0% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}
*/
#card {
  display: grid;
  background-image: url("/white-paper-background.jpg");
  background-size: 200px 200px;
  background-position: center;
  background-repeat: repeat;
  width: 350px;
  height: 200px;
  border: 1px solid var(--clr-darkgray);
  padding: 9px 18px;
  border-radius: 3px;
}
#card * {
  font-family: monospace;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.2), 0px -2px 2px rgba(0, 0, 0, 0.1);
}
#card-header {
  display: flex;
  justify-content: space-between;
  height: 40px;
}
#card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  height: 100px;
  font-weight: bold;
}
#card-footer {
  display: grid;
  height: 40px;
  padding-top: 20px;
  padding: 20px 22px 0px 22px; //adjust left and right depending on the text being typed in the card
}

.card-text-animated {
  animation: typing 2s steps(22), blink 0.5s step-end;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
}
#personal-id {
  width: 270px;
  height: 427px;
  border: 5px solid var(--clr-darkgray);
}
.bg-id-upper {
  display: flex;
  justify-content: center;
  height: 30%;
  width: 100%;
  background-color: var(--clr-chalk);
}
.bg-id-lower {
  height: 70%;
  width: 100%;
  background-color: var(--clr-chalk);
}
.personal-picture {
  position: relative;
  left: 0;
  top: 55px;
  height: auto;
  width: 60%;
  border-radius: 50%;
  border: 5px solid var(--clr-darkgray);
}

#polygon-red {
  fill: var(--clr-deepred);
  opacity: 0.25;
}
#polygon-gray {
  fill: var(--clr-darkgray);
  opacity: 0.25;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes deleting {
  to {
    width: 0;
  }
}
#binder-flaps {
  display: flex;
  justify-content: space-between;
  width: 62.5rem;
  height: 2rem;
}
#left-side-flaps {
  display: flex;
  width: max(120px, 20%);
}
#space-between-flaps {
  display: flex;
  width: max(0px, 40%);
  border-bottom: 2px solid var(--clr-darkgray);
}
#job-flaps {
  width: max(240px, 40%);
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  grid-column-gap: 1rem;
}

.flap-binder {
  border-top-left-radius: 5px;
  border-top-right-radius: 30px;
  background-color: var(--clr-folder);
  border: 2px solid var(--clr-darkgray);
  border-bottom: 0;
  color: var(--clr-darkgray);
  font-weight: bold;
  font-size: 20px;
  width: max(160px, 100%);
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.name-label {
  background: var(--clr-chalk);
  border: 0.5px solid var(--clr-darkgray);
  font-size: 0.75em;
}
.flap-sheet {
  border-top-left-radius: 20px;
  border-top-right-radius: 5px;
  border: 2px solid var(--clr-darkgray);
  border-bottom: 0;
  width: max(50px, 50%);
  height: 20px;
}
.binder {
  height: 34rem;
  width: 62.5rem;
  background-image: url("/folder-texture.jpeg");
  border: 2px solid var(--clr-darkgray);
  border-top: 0;
}

.binder-cover {
  height: 34rem;
  width: 62.1rem;
  background-color: var(--clr-folder);
  position: relative;
  left: 0rem;
  bottom: 0rem;
}

.sheet-page {
  width: 61rem;
  display: grid;
  grid-template-rows: 6.25rem repeat(13, 1.875em) 3.125em; //
  border-bottom: 2px solid var(--clr-black);
  position: relative;
}
.zero-row {
  width: 80%;
  border: 0;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.job-flap {
  position: relative;
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0.4rem;
  zindex: 50;
  background-color: var(--clr-deepred);
  color: var(--clr-chalk);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  zindex: 999;
}

.first-row {
  display: flex;
  align-items: flex-end;
  border: 2px solid var(--clr-black);
  border-bottom: 3px solid var(--clr-deepred);
  padding-left: 0.25em;
  background: var(--clr-chalk);
}
.row,
.split-row {
  display: flex;
  padding-left: 0.25em;
  display: flex;
  flex-direction: columns;
  align-items: flex-end;
  border-bottom: 1px solid var(--clr-darkgray);
  border-left: 2px solid var(--clr-black);
  border-right: 2px solid var(--clr-black);
  background: var(--clr-chalk);
}
.last-row {
  display: flex;
  padding-left: 0.25em;
  display: flex;
  flex-direction: columns;
  align-items: flex-end;
  border-left: 2px solid var(--clr-black);
  border-right: 2px solid var(--clr-black);
  border-bottom: 2px solid var(--clr-black);
  background: var(--clr-chalk);
}

.last-column {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.first-column,
.column,
.last-column {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.first-column,
.column {
  border-right: 3px dashed var(--clr-black);
}
.column,
.last-column {
  padding-left: 0.25em;
}
.w-quarter {
  width: 25%;
}
.w-half {
  width: 50%;
}

.position-relative-0 {
  position: relative;
  left: 0rem;
  bottom: 0rem;
}
.position-relative-1 {
  position: relative;
  left: 0.25rem;
  bottom: 34rem;
}
.position-relative-2 {
  position: relative;
  left: 0.5rem;
  bottom: 67.75rem; //sheet grid-columns height + 2em(jobflap)
}
.position-relative-3 {
  position: relative;
  left: 0.75rem;
  bottom: 101.5rem;
}
.position-relative-4 {
  position: relative;
  left: 1rem;
  bottom: 135.25rem;
}

//monitor
/*
  @use postcss-nested;

@font-face {
  font-family: "EnterCommand";
  src:
    url(https://manz.dev/assets/fonts/entercommand.woff2) format("woff2"),
    url(https://manz.dev/assets/fonts/entercommand.woff) format("woff");
}

:root {
  --monitor-light-color: #d3ccbc;
  --monitor-dark-color: #ccc5b3;
  --monitor-shadow-light: #d7d4c1;
  --monitor-shadow-medium: #b7b19b;
  --monitor-shadow-dark: #908e7a;
  --monitor-shadow-very-dark: #6e6d5f;
  --monitor-gradient:
    linear-gradient(
      to bottom,
      var(--monitor-light-color),
      var(--monitor-dark-color)
    );
  --monitor-shadow-texture:
    2px -2px 30px #493e2a33 inset,
    -2px -2px 30px #493e2a33 inset,
    1px -1px 1px #493e2a33 inset,
    -1px -1px 1px #493e2a33 inset,
    0 2px 30px #ddd inset;
}

body {
  background: #336;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.computer-container {
  --width-monitor: 500px;
  --height-monitor: 450px;

  display: flex;
  flex-direction: column;
  align-items: center;

  & .monitor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    width: var(--width-monitor);
    height: var(--height-monitor);
    background: var(--monitor-gradient);
    border-radius: 5px;
    box-shadow: var(--monitor-shadow-texture);

    & .monitor-inner {
      width: calc(var(--width-monitor) * 0.75);
      height: calc(var(--height-monitor) * 0.7);
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #000;
      border: 15px solid var(--monitor-shadow-medium);
      border-top: 15px solid var(--monitor-shadow-dark);
      border-bottom: 15px solid var(--monitor-shadow-light);

      & .screen-container {
        width: calc(var(--width-monitor) * 0.72);
        height: calc(var(--height-monitor) * 0.68);
        background: #222;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 3px solid #000;
        box-shadow:
          10px 10px 20px 14px #0008 inset,
          -10px -10px 20px 14px #0008 inset;
        position: relative;

        & .screen {
          width: 100%;
          max-width: calc(var(--width-monitor) * 0.72);
          font-family: "EnterCommand";
          font-size: 32px;
          color: #fff;
          text-shadow: 0 0 5px #ccc;
          padding: 10px 20px;
          box-sizing: border-box;
          position: absolute;
          top: 0;
          z-index: 5;
          transition: opacity 0.5s;

          &.off {
            opacity: 0;
          }
        }

        & .eyes {
          width: 300px;
          height: 100px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          transition: opacity 0.5s;

          &.off {
            opacity: 0;
          }

          & .eye {
            width: 50px;
            height: 50px;
            background: #000;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translate(0, 25px);
            position: relative;
            overflow: hidden;

            &::before {
              content: "";
              display: block;
              background: #333;
              width: 100%;
              height: 110%;
              position: absolute;
              top: 0;
              z-index: 5;
              animation: blinkEye 2s ease infinite alternate;
            }

            &::after {
              content: "";
              display: block;
              background: #333;
              width: 100%;
              height: 10%;
              position: absolute;
              bottom: 0;
              z-index: 5;
              transform: translate(0, 0);
            }

            & .shine {
              content: "";
              display: block;
              border-radius: 50%;
              width: 20px;
              height: 20px;
              background: #ccc;
              transform: translate(10px, -5px);
            }
          }
        }
      }
    }

    & .monitor-bottom {
      width: 100%;
      height: 50px;
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(150px, 0);

      & .power-switch {
        width: 38px;
        height: 38px;
        background: linear-gradient(to bottom, var(--monitor-shadow-dark), var(--monitor-shadow-light));
        border-radius: 50%;
        margin-right: 6px;
        display: flex;
        justify-content: center;
        align-items: center;

        & .button {
          --symbol-color: #888;

          width: 24px;
          height: 24px;
          border: 2px solid #555;
          border-radius: 50%;
          background: #cac1b2;
          display: flex;
          justify-content: center;
          align-items: center;

          &:active {
            --symbol-color: #666;

            box-shadow: 1px 1px 2px #0006 inset;
            background: var(--monitor-shadow-medium);
          }

          &::before {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            border: 3px solid var(--symbol-color);
            border-radius: 50%;
            clip-path: polygon(15% 0, 0 0, 0 102%, 102% 100%, 102% 0, 85% 0, 50% 50%);
          }

          &::after {
            content: "";
            display: block;
            width: 4px;
            height: 10px;
            border-radius: 1px;
            border-left: 3px solid var(--symbol-color);
            position: absolute;
            transform: translate(2px, -4px);
          }
        }
      }

      & .power-led {
        width: 9px;
        height: 9px;
        background: #333;
        border-radius: 50%;
        border: 1px solid var(--monitor-shadow-dark);

        &:not(.on) {
          box-shadow: 0 0 1px 1px #2228 inset;
          animation: blink 2s infinite ease-out;
        }

        &.on {
          background: #5cef11;
          box-shadow: 0 0 1px 1px #2228 inset;
        }
      }
    }

    &::before,
    &::after {
      content: "";
      display: block;
      width: 63px;
      height: 40px;
      background: linear-gradient(to right, #0004 65%, #0008 80%);
      position: absolute;
      top: 130px;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
      transform: rotate(180deg);
    }
  }

  & .monitor-base {
    width: calc(var(--width-monitor) * 0.75);
    height: 45px;
    background: var(--monitor-gradient);
    overflow: hidden;
    border-radius: 0 0 3px 3px;
    position: relative;
    display: flex;
    justify-content: center;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 30px;
      background: #0007;
      filter: blur(8px);
      transform: translate(0, -10px);
      position: absolute;
      top: 0;
      z-index: 5;
    }

    & .wheels-parent {
      width: 125px;
      height: 20px;
      display: flex;

      & .wheel {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 0 4px;
        background: var(--monitor-shadow-light);
        box-shadow: 0 1px 5px #0009;
        transform: translate(95px, -26px);
      }
    }
  }

  & .monitor-holder-container {
    width: calc(var(--width-monitor) * 0.6);
    perspective: 280px;
    position: relative;
    z-index: -1;
    transform: translateY(-10px);

    & .monitor-holder {
      width: 100%;
      height: 90px;
      background:
        linear-gradient(
          to top,
          var(--monitor-shadow-medium) 5%,
          var(--monitor-shadow-very-dark) 40%
        );
      box-shadow: 0 -10px 20px #0007 inset;
      transform: rotateX(44deg) translateY(-33px);
      display: flex;
      justify-content: center;

      & .monitor-holder-inner {
        width: calc(var(--width-monitor) * 0.45);
        height: 100px;
        background:
          linear-gradient(
            to top,
            var(--monitor-shadow-medium) 1%,
            var(--monitor-shadow-dark) 15%
          );
        border-radius: 50%;
        box-shadow: 0 -2px 20px #000a inset;
        transform: translate(0, -55px);
      }

      & .monitor-holder-inner-front {
        content: "";
        display: block;
        width: calc(var(--width-monitor) * 0.45);
        height: 100px;
        border-radius: 28% 28% 50% 50%;
        background: #0001;
        box-shadow: 0 -2px 10px #0004 inset;
        position: absolute;
        z-index: -1;
        transform: translate(0, -32px);

        &.bottom {
          background: var(--monitor-shadow-dark);
          box-shadow:
            0 -12px 10px #fff4 inset,
            0 -6px 10px #0001 inset;
          transform: translate(0, -54px);
          z-index: 0;
        }
      }
    }

    & .monitor-holder-front {
      width: calc(var(--width-monitor) * 0.62);
      height: 20px;
      background: var(--monitor-shadow-light);
      transform: translate(-5px, -36px);
    }
  }
}

@keyframes blinkEye {
  0%,
  80% {
    transform: translateY(0);
  }

  80%,
  100% {
    transform: translateY(-90%);
  }
}

@keyframes blink {
  0%,
  19% { background: #ed9940; }

  20%,
  99% { background: #333; }
}

.created {
  background: 
    url(https://assets.codepen.io/154065/internal/avatars/users/default.png),
    linear-gradient(to bottom, #884ced, #ec1cce);
  background-size: 75px 75px, cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2em;
  
  & span,
  & h2,
  & p,
  & a {
    font-family: Montserrat;
    margin: 0;
  }
  
  & a,
  & p,
  & span {
    color: #fff;    
  }
  
  & h2 {
    font-weight: 700;
    transform: translate(0, -4px);    
  }
  
  & a {
    text-decoration-color: rgba(255,255,255,0.4);
  }
  
  & a:hover {
    color: #e6e82a;
  }
}
*/
.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 22ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}
