:root {
  --clr-silver: #ededed; /*1°*/
  --clr-chalk: #fefbf6; /*1°*/
  --clr-folder: #eadfb4; /*1°*/
  --clr-darkgray: #444444; /*2°*/
  --clr-black: #171717; /*2°alt, fonts*/
  --clr-deepred: #da0037; /*3°accent, fonts*/
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
* {
  font-family: "Avenir", sans-serif;
}
body {
  box-sizing: border-box;
}
.lvl1 {
  color: var(--clr-black);
  background-color: var(--clr-silver);
  border: 3px solid var(--clr-deepred);
}
.lvl2 {
  color: var(--clr-silver);
  background-color: var(--clr-darkgray);
}
.lvl3 {
  color: var(--clr-silver);
  background-color: var(--clr-deepred);
  border: 1px var(--clr-darkgray) solid;
}
.folder {
  background-color: var(--clr-folder);
  border: 1px var(--clr-darkgray) solid;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 5em;
  font-weight: bold;
}
.active{
  color: var(--clr-deepred);
}

#hero-section {
  height: 100vh;
  width: 100vw;
}
#aboutme-section {
  width: 100vw;
  display: flex;
  flex-direction: columns;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}
#presentation {
  display: flex;
  flex-direction: column;
  width: 35%;
  align-items: center;
  justify-content: center;
}
#profile-photo {
  display: flex;
  width: 35%;
}
#jobs-section {
}

#job-header {
  display:flex;
  justify-content:space-between;
  align-items:flex-end
}
#job-header>div{
  
  
}
#left-side-flap{

}
#right-side-flaps{
  
}
.flap-sheet {
  border-top-left-radius: 20px;
  border-top-right-radius: 5px;
  background-color: var(--clr-silver);
  border: 0.5px solid var(--clr-darkgray);
  font-weight: bold;
  width:100px;
  height:20px;
}
.flap-folder {
  width:100px;
  border-top-left-radius: 5px;
  border-top-right-radius: 30px;
  background-color: var(--clr-silver);
  border: 0.5px solid var(--clr-darkgray);
  color: var(--clr-deepred);
  font-size: 1.2rem;
  width:250px;
  height:30px;
}
#job-inti,#job-ingenia,#job-mg,#job-le{
  background-color: var(--clr-chalk);
  border:1px solid var(--clr-deepred);
  display: none;
}


#skills-section {
}
#skills-section > div {
  
}
#contact-section {
}
#contact-section > div {
}

