:root {
  --clr-silver: #ededed; /*1°*/
  --clr-chalk: #fefbf6; /*1°*/
  --clr-folder: #eadfb4; /*1°*/
  --clr-darkgray: #444444; /*2°*/
  --clr-black: #171717; /*2°alt, fonts*/
  --clr-deepred: #da0037; /*3°accent, fonts*/
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
* {
  font-family: "Avenir", sans-serif;
}
body {
  box-sizing: border-box;
  font-size: calc(9px+1vw); //12px(HVGA) to 20px(fHD)
}
.lvl1 {
  color: var(--clr-black);
  background-color: var(--clr-silver);
  border: 3px solid var(--clr-deepred);
}
.lvl2 {
  color: var(--clr-silver);
  background-color: var(--clr-darkgray);
}
.lvl3 {
  color: var(--clr-silver);
  background-color: var(--clr-deepred);
  border: 1px var(--clr-darkgray) solid;
}
.folder {
  background-color: var(--clr-folder);
  border: 1px var(--clr-darkgray) solid;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 2em;
  font-weight: bold;
}
.active {
  color: var(--clr-deepred);
}

#hero-section {
  height: 10vh;
  width: 100vw;
}
#aboutme-section {
  width: 100vw;
  display: flex;
  flex-direction: columns;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 10vh;
}
#presentation {
  display: flex;
  flex-direction: column;
  width: 35%;
  align-items: center;
  justify-content: center;
}
#profile-photo {
  display: flex;
  width: 35%;
}
#jobs-section {
}

#job-header {
  display: flex;
  justify-content: space-between;
  
}

#left-side-flap {
  display: flex;
  width: max(120px, 20%);
}
#space-between-flaps {
  display:flex;
  width: max(0px, 60%);
  border-bottom: 1px solid var(--clr-black);
}
#right-side-flaps {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: max(200px, 30%);
}
.flap-folder {
  border-top-left-radius: 5px;
  border-top-right-radius: 30px;
  background-color: var(--clr-silver);
  border: 0.5px solid var(--clr-darkgray);
  border-bottom:0;
  color: var(--clr-deepred);
  font-weight:bold;
  font-size:20px;
  width: max(160px, 100%);
  height: 30px;
}
.flap-sheet{
  border-top-left-radius: 20px;
  border-top-right-radius: 5px;
  background-color: var(--clr-silver);
  border: 0.5px solid var(--clr-darkgray);
  border-bottom:0;
  width: max(50px, 50%);
  height: 20px;
}

#job-inti,
#job-ingenia,
#job-mg,
#job-le {
  background-color: var(--clr-silver);
  border-bottom: 1px solid var(--clr-black);
  border-left: 1px solid var(--clr-black);
  border-right: 1px solid var(--clr-black);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
}


#skills-section {
}
#skills-section > div {
}
#contact-section {
}
#contact-section > div {
}
#page{
  display:grid;
  grid-template-columns: 45px 260px;
  grid-template-rows: 45px repeat(7, 18px);
  column-gap:2px;
}
#page>div{
  border-left: 1px solid var(--clr-deepred);
  border-right: 1px solid var(--clr-deepred);
  border-bottom: 0.5px solid var(--clr-darkgray);
  background-color: var(--clr-chalk);
  padding-left:4px;
  padding-bottom:0px;
}

#page>.left{
  border-left:0;
}
#page>.right{
  border-right:0;
}

#page>.top{
  display:flex;
  border-top:0;
  height:100%;
  align-items:flex-end;
  background-color: yellow;
}
#page>.bottom{
  border-bottom:0;
}

