:root{
  --clr-black:#171717;
  --clr-darkgray:#444444;
  --clr-deepred:#DA0037;
  --clr-silver:#EDEDED;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  font-family: 'Avenir', sans-serif;
  color: var(--clr-deepred);
}

div {
  border: 1px red solid;
}

container{
  display:flex;
  flex-direction:columns;
  max-width:100vw;
}

/*HERO SECTION*/
#hero-section {
  background-image: linear-gradient(var(--clr-black),var(--clr-darkgray), var(--clr-silver));
}
#presentation {
  display:flex
}
#profile-photo {
  width: 50vw;
  height: auto;
  display: flex;
}
#profile-photo > img {
  width: 25vw;
  margin: auto;
}
#personal-description{
  width:50vw;
  display:flex;
  align-items: center;
  padding:10vw
  
}

.ES {
  display: block;
}

.EN {
  display: none;
}
/*jobs*/
#job-container {
  display: flex;
  flex-direction: column;
}
.accordion {
  max-width: 600px;
  margin: 20px auto;
}

.accordion-item {
  border: 1px solid #ddd;
  margin-bottom: 5px;
  display: flex;
}
.accordion-item.active .accordion-content {
  display: block;
}

.accordion-header {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  width: 20%;
  min-width: 20%;
}

.accordion-content {
  display: none;
  padding: 10px;
}

.btn{
  color:var(--clr-silver);
  background-color:var(--clr-darkgray);
  border: 2px solid:var(--clr-black);
  transition: all 0.3s ease 0s;
}
.btn:hover{
  transform:translateY(10px);
  color:var(--clr-deepred)
}


